.spinner-container {
  position: relative;
  display: inline-block;
  animation: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  animation: wiggle;
  animation-iteration-count: infinite;
  border-radius: 50%;
  opacity: 0;

  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    top: 0;
    right: 0;
  }

  &:nth-child(3) {
    bottom: 0;
    right: 0;
  }

  &:nth-child(4) {
    bottom: 0;
    left: 0;
  }
}

@keyframes wiggle {
  from {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
