@import '~@angular/cdk/text-field'; 
@import '../../palette';

@include cdk-text-field();

.ptr-input {
  @include cdk-text-field-autofill-color(transparent, $primary);
  border: 8px solid $primary;
  color: $primary;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient(circle, $primary 50%, transparent 50%);
  background-position: 150% -10%;
  background-size: 200% 200%;
  font-size: 2rem;
  border-radius: 9999px;

  &::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: $primary;
    opacity: 1; /* Firefox */
  }

  &:focus {
    outline: none;
    animation: background 0.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.ptr-input[type='number']::-webkit-inner-spin-button,
.ptr-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes background {
  0% {
    background-position: 150% -10%;
  }
  100% {
    background-position: 50% 50%;
    color: white;
  }
}
