:root {
  color-scheme: light dark;
  --text-color: #e596b1;
  --primary-color: #c42552;
  --spark-color: #c84765;
  background: radial-gradient(#3c1123, transparent),
    conic-gradient(
      #18181f,
      #21141f,
      #290b20,
      #361a1a,
      #2d1a36,
      #1d2041,
      #18181f
    );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  min-width: 320px;
}

#app {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  cursor: none;
}
